*{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  background-color: black;
}
button, input {
  padding: 8px 8px;
  margin: 8px;
  border-radius: 10px;
  border: 2px solid white;
}